LOCAL_REDIS_URL=redis://localhost:6379 or whatever your local redis uses, for local testing
REDISCLOUD_URL=redis://rediscloud:iiwYlV5OsU2iyC4R@redis-17226.c14.us-east-1-2.ec2.cloud.redislabs.com:17226
OUTGOING_WEBHOOK_TOKEN=7r9oSGKUj8xvQHk8McNZWIAO
BOT_USERNAME=trebekbot
API_TOKEN=xoxp-2318700319-11924924833-201554587186-79b4e93a1e82dd3a35a805d085c795a2
SIMILARITY_THRESHOLD=0.5
SECONDS_TO_ANSWER=30
CHANNEL_BLACKLIST=general
